.body {
background-attachment: fixed;
background-image: url(guitarra2.jpg);
background-repeat: no-repeat;
background-position: center center;
}

#principal{
  width: 900px;
  height: 1250px; /* caja de la imagen*/
  border: 1px solid #000;
  margin: auto;
}
header{/*cuadro del emcabezado*/
  width: 900px;
  height: 100px;
  border: 0px solid #000;
  }
#logo{
  width: 302px;
  height: 100px;
  border: 0px solid #000;
  float: left;
  font-family:Lucida Handwriting;
  color: #F39C12;
 }
.menu{/*diseño, color, posicion, margenes de los enlaces menu*/
  width: 500px;
  height: 45px;
  border: 2px solid #ccc;
  float: right; /*posicion a la derecha eventos, noticias etc*/
  margin-top: 40px;
  background:#F39C12;/*#006699*/ /*colo de la caja donde van los link*/
}
.menu ul{}

.menu ul li{
  list-style: none;
  float: left;
}

.menu ul li a{/*decoracion, color texto*/
  text-decoration: none;
  padding: 10px 12px;
  border: 0px solid #ccc;
  color:#fff;
}
.menu ul li a:hover{
  background: #fff;
  color: #006699;
  transition: background 1s, color 1s; /*estilo cuando paso el mouse por las opciones*/
}

#slide{/*configuracion de la imagen slide*/
  margin-top: -7px;
  width: 900px;
  height: 245px;
}
#Categorias{
  width: 900px;
  height: auto;overflow: hidden;
  border: 0px solid;
  margin-top: 15px;
}
.uno{
  width: 280px;
  height: auto;overflow: hidden;
  border: 1px solid #ccc;
  float: left;
  padding: 5px;
  text-align: center;
  color: #4682b4;
}

.parrafo{
  color: #707070;
  text-align: justify;
}
.dos{
  margin-left: 12px;
  margin-right: 12px;
}

.leer-mas{
  text-decoration: none;
  border: 1px solid #006699;
  padding: 10px 20px 10px 20px;
  margin-bottom: 10px;
  }
  #info{ /*ajuste de vuelven con todo su sabor*/
  width: 900px;
  height: auto;overflow:hidden;
  border: 0px solid #c0c0c0;
  margin-top: 10px; color:
  }
  #izq{/*texto esquina inferior izquierda*/
    width: 584px;
    height: auto;overflow:hidden;
    border: 1px solid #ccc;
    float: left;
    padding: 5px; color:#4682b4;
    text-align: center; /*centrar texto*/
  }
.img{
  margin-right: 7px;
  margin-bottom: 7px;
}

  #der{
    width: 290px;
    height: 300px;
    border: 1px solid #ccc;
    float: right;
    text-align: center;
    color: #4682b4;
  }
