.primer_bloque{
  width:200px; /*ancho de la caja*/
  height:200px; /*alto de la caja*/
  overflow: auto;

}
.e1{
  background-color:blue;
  color:white;

}
.e2{
  background-color:green;
  float: right; /*mueve el cuadro de texto a la derecha*/

}
.e3{
  background-color:red;

}
